@import '../../scss/styles.scss';

// @file
// Project teaser

.proj-teaser {
  min-height: 100vh;
  padding: 5rem 0;
  transition: all .6s ease-in-out;

  &:nth-of-type(even) {
    .proj-image {
      @include semi-circle-reverse;
    }
  }

  @include bp-large {
    align-items: center;
    display: flex;
    padding: 0;

    &:nth-of-type(even) {
      .proj-teaser__inner {
        flex-direction: row-reverse;
        
        .proj-teaser__bottom {
          left: 2rem;
          right: auto;
        }
      }
    }
  }

  &.is-rotating {
    .proj-image {
      &::before {
        transform: rotate(-5deg);
      }
    }
  }
}

.proj-teaser__inner {
  align-items: center;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  @include bp-large {
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 2.75rem;
    position: relative;
  }
}

.proj-teaser__bottom {
  z-index: 1;

  h3 {
    color: $white;
    margin: 2rem 0 0;
  }

  @include bp-large {
    bottom: 4rem;
    max-width: rem(400px);
    padding: 0 0 2rem;
    position: absolute;
    right: 0;

    h3 {
      font-size: $font-size-xl;
    }
  }
}

.proj-teaser__link {
  @include arrow-link($white, 'arrow-white-right');

  font-family: $header-font-family;
  text-transform: uppercase;
}