@import '../../scss/variables.scss';

// @file
// Project teaser

.plain-text {
  padding: 4rem 0;

  @include bp-medium {
    max-width: 50%;
    padding: 8rem 0;
  }

  a {
    @include arrow-link($white, 'arrow-white-right');

    font-weight: 700;
    text-transform: uppercase;

  }
}