// @file
// Main menu

@import '../../scss/styles.scss';

.menu {  
  font-size: $font-size-xxl;
  margin: 0;
  padding: 0;
  
  @include bp-medium {
    font-size: $font-size-xxxl;
  }
  
  @include bp-large {
    font-size: $font-size-xxxl;
  }
  
  @include bp-xxlarge {
    font-size: rem(88px);
  }
}

.menu__link {
  color: $white;
  font-weight: 700;
  position: relative;
}

.menu__item {
  display: block;
  margin: 0 0 1rem;
  // opacity: 0;
  position: relative;
  // transform: translateY(25%) rotateX(30deg);
  
  &:nth-child(2) {
    .menu__link {
      &::before {
        background-color: $magenta-2;
        animation-delay: .4s;
      }
    }
  }
  
  &:nth-child(3) {
    .menu__link {
      &::before {
        background-color: $purple;
        animation-delay: .6s;
      }
    }
  }
  
  &:nth-child(4) {
    .menu__link {
      &::before {
        background-color: $orange-light;
        animation-delay: .6s;
      }
    }
  }
}

.menu__link {
  &::before {
    content: '';
    animation-delay: .2s;
    background-color: $orange;
    bottom: rem(15px);
    height: rem(15px);
    left: 0;
    position: absolute;
    transition: height .2s ease-in;
    width: 100%;
    z-index: -1;
  }

  &:hover {
    &::before {
      height: rem(25px);
    }
  }
}