@import '../../scss/variables.scss';

// @file
// Project teaser

.hero {
  // background-color: $purple-dark;
  color: $white;
  padding: 10rem 0;

  @include bp-large {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    padding: 0;

    > * {
      flex: 1 0 0;
    }
  }

  &.hero--contact {
    font-size: $font-size-xl;

    .hero__title {
      margin: 0 0 1rem;
      position: static;
    }

    p {
      
      @include bp-medium {
        max-width: 50%;

      }
    }

    a {
      display: inline-block;
      font-family: $base-font-family;
      font-size: $font-size-lg;
      margin: 0 0 1rem;

      @include bp-large {
        font-size: $font-size-xl;
        position: relative;
        transition: all 0.4s ease-in;
    
        &::before {
          background-color: $white;
          content: '';
          display: block;
          height: 1px;
          left: 0;
          position: absolute;
          top: calc((100% - 1px) / 2);
          transition: width 0.4s ease-in;
          width: 0;
        }
    
        &:hover,
        &:focus {
          padding-left: 95px;
    
          &::before {
            width: 75px;
          }
        }
      }
    }

    .hero__left {
      margin: 0 0 4rem;
    }
  }
}

.hero__left {
  animation: 1s 0.4s 1 cubic-bezier(.24,.56,.25,1) forwards slide-in-title;
  opacity: 0;
  position: relative;
  transform: translateY(25%);
  z-index: 2;
}

.hero__title {
  color: $white;
  line-height: 1;
  margin: 0;

  @include bp-large {
    left: 0;
    position: absolute;
    top: 0;
    
    .homepage & {
      font-size: $font-size-xxl;
      width: 100vw;
    }

    .Typewriter {
      // background-color: $magenta;
      display: inline-block;
      margin: 1rem 0 0;
      position: relative;
      white-space: nowrap;

      @include bp-large {
        .homepage & {
          font-size: rem(120px);
        }
      }
    }
  }

  @include bp-large {
    font-size: rem(88px);
  }
}

.hero__content {  
  font-size: $font-size-md;
  margin: 2rem 0 4rem;
  

  @include bp-large {
    font-size: $font-size-lg;
    margin: rem(226px) 0 0;
  }
}

.hero__right {
  // duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name
  animation: 2s cubic-bezier(.24,.56,.25,1) 1s 1 forwards fade-in;
  opacity: 0;
}

.hero__squares {
  // duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name
  animation: 2s 1s 1 cubic-bezier(.24,.56,.25,1) forwards slide-in;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: rem(270px);
  transform-style: preserve-3d;
  transform: translateY(50%);

  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  @include bp-small {
    max-width: rem(480px);
  }

  @include bp-xlarge {
    max-width: rem(510px);
  }

  img {
    max-width: rem(90px);

    @include bp-small {
      max-width: rem(160px);
    }
    
    @include bp-xlarge {
      max-width: rem(170px);
    }

    &:first-child,
    &:last-child {
      transform: translateZ(30px);  
      animation: 10s ease-in-out infinite forwards float-off-2;
    }

    &:nth-child(7),
    &:nth-child(3) {
      animation: 10s ease-in-out infinite forwards float;
      transform: translateZ(30px);
    }

    &:nth-child(5) {
      animation: 10s ease-in-out infinite forwards float-off;
      transform: translateZ(30px);
    }
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  } 
}

@keyframes slide-in {
  25% {
    transform: translateY(0);
  }  
  100% {
    transform: perspective(300px) rotateX(8.07deg) rotateY(0.94deg);
  }
}

@keyframes slide-in-title {
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes float {
	0% {
		transform: translateZ(30px);
	}
  25% {
    transform: translateZ(10px);
  }
	50% {
		transform: translateZ(20px);
	}
  75% {
    transform: translateZ(10px);
  }
	100% {
		transform: translateZ(30px);
	}
}

@keyframes float-off {
	0% {
		transform: translateZ(30px);
	}
  25% {
    transform: translateZ(45px);
  }
	50% {
		transform: translateZ(35px);
	}
  75% {
    transform: translateZ(40px);
  }
	100% {
		transform: translateZ(30px);
	}
}

@keyframes float-off-2 {
	0% {
		transform: translateZ(30px);
	}
  25% {
    transform: translateZ(35px);
  }
	50% {
		transform: translateZ(25px);
	}
  75% {
    transform: translateZ(35px);
  }
	100% {
		transform: translateZ(30px);
	}
}