// @file
// Project mobile

@import '../../scss/styles.scss';

.mobile {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 4rem 0;
  position: relative;
  
  &:nth-child(even) {
    flex-direction: row-reverse;
    
    .mobile__word {
      transform: rotate(-90deg) translateY(-25%);
    }
  }

  @include bp-medium {
    padding: 0;
  }
}

.mobile__img {
  max-width: 280px;

  @include bp-small {
    max-width: 350px;
  }
}

.mobile__word {
  color: $pink;
  display: inline-block;
  font-family: $header-font-family;
  font-weight: 700;
  font-size: 120px;
  opacity: 0.3;
  transform: rotate(-90deg) translateY(-225%);
  transform-origin: 350px 0;
  white-space: nowrap;
  z-index: -1;

  .color--bg-magenta &,
  .color--bg-magenta-dark &,
  .color--bg-purple & {
    color: $orange;
  }
}
