@import '../../scss/variables.scss';

// @file
// Project mobile

.mobile {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 4rem 0;
  position: relative;
  
  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  img {
    max-width: 280px;
  
    @include bp-small {
      max-width: 350px;
    }
  }

  @include bp-medium {
    padding: 0;
  }

  &:nth-child(even) {
    @include bp-small {

      .mobile__word {
        left: auto;
        right: 280px;
      }
    }

    @include bp-medium {
      .mobile__word {
        right: 350px;
      }
    }
  
  }
}

.mobile__word {
  bottom: 0;
  color: $white;
  display: inline-block;
  font-family: $header-font-family;
  font-weight: 700;
  font-size: 120px;
  opacity: 0.15;
  position: absolute;
  white-space: nowrap;
  z-index: -1;

  @include bp-medium {
    left: 280px;
  
    @include bp-small {
      left: 350px;
    }
  }
}
