// @file
// Project teaser

@import '../../../scss/styles.scss';

.project-hero {
  margin: auto;
  max-width: rem(900px);
  padding: 10rem 0;

  @include bp-medium {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 0;
  }
}