// @file
// Latest project

@import '../../scss/styles.scss';

.latest-project {
  color: $white;
  display: none;
  font-size: $font-size-md;

  h3 {
    color: $purple;
    font-size: $font-size-xl;
    font-weight: 900;
    margin: 0;
  
    @include bp-xxlarge {
      font-size: $font-size-xxl;
    }
  }
  
  p {
    margin: 1rem 0;
  }

  @include bp-medium {
    display: block;
  }
}

.latest-project__eyebrow {
  color: $white;
  font: {
    family: $header-font-family;
    size: $font-size-xs;
    weight: 700;
  }
  letter-spacing: 3px;
  text-transform: uppercase;
}

.latest-project__link {
  @include arrow-link($white, arrow-white-right);

  font-size: $font-size-xs;
  font-weight: 700;
  text-transform: uppercase;
}