@import '../../scss/variables.scss';

// @file
// Project teaser

.proj-image {
  @include semi-circle;
  
  color: $white;
  margin: 0;
  position: relative;
  
  @include bp-large {
    flex-basis: 75%;
  }
}

.proj-image__type {
  color: $white;
  display: block;
  font: {
    family: $header-font-family;
    size: $font-size-xxxl;
    weight: 900;
  }
  margin: -1rem 0 0;
  opacity: 0.15;
  text-align: center;
  transition: all 1s ease-in-out;
  width: 100%;
  z-index: -1;

  @include bp-small {
    font-size: rem(98px);
  }

  @include bp-medium {
    font-size: rem(120px);
    position: absolute;
    top: 92%;
  }
  
  @include bp-xlarge {
    font-size: rem(140px);
  }
}