// @file
// Project teaser

@import '../../scss/styles.scss';

.proj-image {
  color: $white;
  position: relative;
  z-index: 1;
  

  &.is-homepage {
    &::before {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 270px 135px;
      bottom: -20px;
      content: '';
      height: 135px;
      left: auto;
      position: absolute;
      right: -75px;
      transform: rotate(15deg);
      transition: transform 1s ease-in-out;
      width: 270px;
      z-index: -1;
  
      .is-rotating & {
        transform: rotate(5deg);
      }
      
      .color-magenta & {
        background-image: url('../../images/semi-circle-magenta.svg');
      }
    }

    @include bp-medium {
      flex-basis: calc(100% - 380px);
    }
  }
}

.proj-image__type {
  color: rgba(255,63,87,.3);
  display: block;
  font: {
    family: $header-font-family;
    weight: 900;
    size: $font-size-xxxl;
  }
  letter-spacing: 3px;
  margin: -1rem 0 0;
  transition: all 1s ease-in-out;
  width: 100%;
  z-index: -1;

  .color-magenta &,
  .color-magenta-dark &,
  .color-purple & {
    color: rgba(255,214,194,.3);
  }

  @include bp-small {
    font-size: 98px;
    text-align: center;
  }

  @include bp-medium {
    font-size: 120px;
    position: absolute;
    top: 90%;
  }
  
  @include bp-xlarge {
    font-size: 140px;
  }
}