@import '../../scss/variables.scss';

// @file
// Social media styles

.social-media {
  display: flex;
  list-style: none;
  padding: 0;

  .footer & {
    margin: 0;
  }
  
  .contact &,
  .overlay & {
    bottom: 0.5rem;
    left: 1.5rem;
    position: absolute;

    @include bp-xxlarge {
      bottom: 2rem;
      left: auto;
    }
  }

  .social-media__item {
    opacity: 0;
    padding: 0 55px 0 0;
    position: relative;
    transform: translateY(25%);
    transition-duration: 0.4s;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}n) {
        transition-delay: #{$i * .1}s;
      }
    }

    &::before {
      background-color: $white;
      content: '';
      display: block;
      height: 1px;
      left: 45px;
      position: absolute;
      top: calc((100% - #{rem(15px)}) / 2);
      width: 0;

      .overlay[data-visible='true'] & {
        animation: main-menu-social-before .4s ease-in-out .4s 1 forwards; 
        transform: none;
      }

      .contact &,
      .aos-animate & {
        animation: main-menu-social-before .4s ease-in-out .4s 1 forwards; 
      }

      .footer & {
        background-color: $black;
      }
    }

    &:last-child {
      padding: 0 0 0.5rem;
      
      &::before {
        display: none;
      }
    }

    .contact &,
    .aos-animate & {
      animation: main-menu-social .2s ease-in-out .4s 1 both;
    }

    @for $i from 1 through 4 {
      &:nth-child(#{$i}n) {
        animation-delay: #{$i * .2}s;
      }
      
      &:nth-child(#{$i}n)::before {
        animation-delay: #{$i * .2}s;
      }
    }

    @include bp-small {
      padding: 0 95px 0 0;

      &::before {
        left: 50px;

        .contact &,
        .aos-animate & {
          animation: main-menu-social-before-large .4s ease-in-out .4s 1 forwards; 
        }
      }
      
      .overlay[data-visible='true'] & {
        &::before {
          animation: main-menu-social-before-large .4s ease-in-out .4s 1 forwards;
        }
      }
    }

    .overlay[data-visible='true'] & {
      opacity: 1;
      transform: none;
    }
  }

  .social-media__link {
    display: block;
    color: transparent;
    font: 0/0 a;
    height: 40px;
    text-shadow: none;
    width: 40px;
    position: relative;

    &::before,
    &::after {
      background: {
        position: center;
        repeat: no-repeat;
        size: 100%;
      }
      content: '';
      color: transparent;
      height: 100%;
      left: 0;
      position: absolute;
      text-shadow: none;
      top: 0;
      width: 100%;
    }

    @include bp-medium {
      background-size: 100%;
      height: 40px;
      width: 40px;

      &::before,
      &::after {
        height: 40px;
        width: 40px;
      }
    }

    &::before {
      opacity: 1;
      transition: opacity .2s ease-in;
    }

    &::after {
      opacity: 0;
      transition: opacity .2s ease-in;
    }

    &:hover, 
    &:focus {
      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }
  }
}

.social-media__link--github {
  &::before {
    background-image: url('../../images/github.svg');
  
    .footer & {
      background-image: url('../../images/github-black.svg');
    }
  }
  
  &::after {
    background-image: url('../../images/github-hover.svg');
  }
}

.social-media__link--codepen {
  &::before {
    background-image: url('../../images/codepen.svg');

    .footer & {
      background-image: url('../../images/codepen-black.svg');
    }
  }
  
  &::after {
    background-image: url('../../images/codepen-hover.svg');
  }
}

.social-media__link--linkedin {
  &::before {
    background-image: url('../../images/linkedin.svg');

    .footer & {
      background-image: url('../../images/linkedin-black.svg');
    }
  }
  
  &::after {
    background-image: url('../../images/linkedin-hover.svg');
  }
}

.social-media__link--twitter {
  &::before {
    background-image: url('../../images/twitter.svg');

    .footer & {
      background-image: url('../../images/twitter-black.svg');
    }
  }
  
  &::after {
    background-image: url('../../images/twitter-hover.svg');
  }
}

@keyframes main-menu-social {
  to {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes main-menu-social-before {
  to {
    width: 45px;
  }
}

@keyframes main-menu-social-before-large {
  to {
    width: 75px;
  }
}

.contact {
  position: relative;
}