@import '../../scss/styles.scss';

// @file
// Footer

.footer {
  background-color: $white;
  padding: 3rem 0;
}

.footer__inner {

  @include bp-small {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.footer__eyebrow {
  display: block;
  font-family: $header-font-family;
  font-size: $font-size-xs;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__email {
  @include arrow-link($black, 'arrow-black-right');

  font-family: $base-font-family;
  font-size: $font-size-md;

  &:hover {
    color: $magenta;
  }

  @include bp-medium {
    font-size: $font-size-lg;
  }
}