@import '../../scss/styles.scss';

// @file
// Footer

.footer {
  background-color: $white;
}

.footer__inner {

  @include bp-medium {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 25vh;
  }
}

.footer__eyebrow {
  display: block;
  font-family: $header-font-family;
  font-size: $font-size-xs;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__left {
  a {
    @include arrow-link($black, 'arrow-black-right');

    font-family: $base-font-family;
    font-size: $font-size-md;
  
    &:hover {
      color: $magenta;
    }
  
    @include bp-medium {
      font-size: $font-size-lg;
    }
  }
}