@import '../../scss/variables.scss';

// @file
// Footer

.footer {
  background-color: $white;
  padding: 4rem 0;
}

.footer__inner {

  @include bp-large {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.footer__eyebrow {
  color: $black;
  display: block;
  
  font-size: $font-size-xs;
  font-weight: 900;
  text-transform: uppercase;
}

.footer__left {

  a {
    @include arrow-link($black, 'arrow-black-right');

    transition: color 0.3s ease-in-out;
    text-transform: uppercase;

    &:hover {
      color: $magenta;
    }
  }
}

.footer__right {
  margin: 4rem 0 0;

  @include bp-large {
    margin: 0;
  }
}