// website colors

$white: #fffff7;
$black: #191918;

$purple: #240041;
$purple-dark: #10001E;
$pink: #FF4057;
$magenta: #DF0054;
$magenta-2: #900048;
$magenta-dark: #480032;
$orange: #FF8462;
$orange-light: #FFD6C2;

$radial-gradient-purple: radial-gradient($purple-dark, $purple);
$radial-gradient-magenta: radial-gradient($magenta-dark, $magenta);
$radial-gradient-pink: radial-gradient($pink, $magenta);
$radial-gradient-orange: radial-gradient($white, $orange-light);