// @file
// Mixins

@mixin button-clear() {
  &[type='button'] {
    appearance: none;
  }
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  padding: 0;

  &:focus {
    outline: none;
  }
}

@mixin arrow-link($color, $image-name, $image-location: '../../images/') {
  color: $color;
  display: inline-block;
  position: relative;
  white-space: nowrap;

  &:hover {
    &::after {
      transform: translateX(15px);
    }
  }

  &::after {
    content: '';
    background: {
      image: url($image-location+$image-name+'.svg');
      position: cover;
      repeat: no-repeat;
      size: 100%;
    }
    height: rem(11px);
    left: 105%;
    position: absolute;
    top: calc((100% - #{rem(11px)}) / 2);
    transition: transform .4s ease-in-out;
    width: rem(103px);
  }
}

@mixin arrow-link-reverse($color, $image-name, $image-location: '../../images/') {
  color: $color;
  display: inline-block;
  font-family: $header-font-family;
  position: relative;
  white-space: nowrap;

  &:hover {
    &::after {
      transform: translateX(-15px);
    }
  }

  &::after {
    content: '';
    background: {
      image: url($image-location+$image-name+'.svg');
      position: cover;
      repeat: no-repeat;
      size: 100%;
    }
    height: rem(11px);
    position: absolute;
    right: 105%;
    top: calc((100% - #{rem(11px)}) / 2);
    transition: transform .4s ease-in-out;
    width: rem(103px);
  }
}

@mixin semi-circle() {
  position: relative;
  z-index: 1;

  &::before {
    background: {
      position: center;
      repeat: no-repeat;
      size: rem(270px) rem(135px);
    }
    bottom: rem(117px);
    height: rem(135px);
    left: auto;
    position: absolute;
    right: rem(-75px);
    transform: rotate(15deg);
    transition: transform 1s ease-in-out;
    width: rem(270px);
    z-index: -1;
  }

  @include bp-medium {
    &::before {
      content: '';
    }
  }

  @include bp-large {
    &::before {
      bottom: -20px;
    }
  }

  &[data-color='magenta-dark'] {
    &::before {
      background-image: url('../../images/semi-circle-purple.svg');
    }
  }

  &[data-color='magenta'] {
    &::before {
      background-image: url('../../images/semi-circle-magenta.svg');
    }
  }
  
  &[data-color='magenta-2'] {
    &::before {
      background-image: url('../../images/semi-circle-magenta-2.svg');
    }
  }

  &[data-color='pink'] {
    &::before {
      background-image: url('../../images/semi-circle-purple.svg');
    }
  }
  
  &[data-color='purple'] {
    &::before {
      background-image: url('../../images/semi-circle-purple-dark.svg');
    }
  }

  &[data-color='purple-dark'] {
    &::before {
      background-image: url('../../images/semi-circle-magenta-2.svg');
    }
  }
  
  &[data-color='orange'] {
    &::before {
      background-image: url('../../images/semi-circle-orange-light.svg');
    }
  }

  &[data-color='orange-light'] {
    &::before {
      background-image: url('../../images/semi-circle-orange.svg');
    }
  }
}

@mixin semi-circle-reverse() {
  @include semi-circle();

  &::before {
    left: rem(-75px);
    right: auto;
    transform: rotate(-15deg);
    
  }
}