@import '../../scss/variables.scss';

// @file
// Constrain

.constrain {
  margin: 0 auto;
  max-width: rem(1420px);
  padding: 0 1rem;

  &.constrain-small {
    max-width: rem(800px);
  }

  + .constrain-small {
    padding: 0;
  }
}